$bp-largest: 75em; //1200px
$bp-large: 73em; //1100px
$bp-med: 56em;
$bp-small: 38.5em;
$bp-smallest: 31.25em; // 500px

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: none;

  @media screen and (max-width: $bp-small) {
    font-size: 45%;
    width: 100vw;
  }
}

body {
  background: $color-grey-light-4;

  @media screen and (max-width: $bp-small) {
    width: 100vw;
    background-color: none;
  }
}
