.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    margin-right: 1rem;

    background-color: $color-primary-dark;
    color: $color-primary-light;

    border: none;
    cursor: pointer;
  }
  &:hover {
    scale: 1.05;
    transform: translateY(-1rem);

    box-shadow: 0 1rem 2rem rgba($color-primary, 0.8);
  }
  &__left {
    margin-right: 1rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.back__button {
  left: 3%;
  top: 3rem;
  position: absolute;
  z-index: 2;

  @media screen and (max-width: $bp-med) {
    left: 0;
    top: 5em;
    padding: 0rem;
    margin: 0;
  }
}
.btn__left {
  font-size: 1rem;
}
.modal__button {
  margin-top: 3.5rem;
}
